<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7584012207-dqf3871n2siuu7bl99vd5h3shkqkstr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7584012207-dqf3871n2siuu7bl99vd5h3shkqkstr7</string>
	<key>API_KEY</key>
	<string>AIzaSyDuF_9qIkc2F9mHE0LK6j_2zNPvp8cQn4o</string>
	<key>GCM_SENDER_ID</key>
	<string>7584012207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cartotto.Prosper-Code-Challenge</string>
	<key>PROJECT_ID</key>
	<string>prosper-code-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>prosper-code-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7584012207:ios:28ad3feb5e366816</string>
	<key>DATABASE_URL</key>
	<string>https://prosper-code-challenge.firebaseio.com</string>
</dict>
</plist>